@mixin list-xs() {
    .o_action_manager {
        .o_view_controller {
            .o_content {
                .o_optional_columns_dropdown_toggle.fa-ellipsis-v {
                    z-index: 6;
                    padding: 0px 15px;

                    &:before {
                        font-size: 20px;
                    }
                }
            }
        }

        .o_list_view {
            .o_optional_columns {
                left: auto !important;
                right: 0;
            }

            &>.table-responsive {
                scrollbar-width: none;
            }
        }
    }
}

.o_web_client.ad_mobile {
    @include list-xs();
}