    .rating {
            display: inline-block;
            font-size: 30px;
        }
        .rating > input {
            display: none;
        }
        .rating > label:before {
            content: "\2605";
            padding: 5px;
            color: #ddd;
            cursor: pointer;
        }
        .rating > label {
            display: inline-block;
        }
        .rating > input:checked ~ label:before,
        .rating > input:checked ~ label ~ label:before {
            color: gold;
        }
        .rating > input:checked ~ label[data-text]:before {
            content: attr(data-text);
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 5px;
            border-radius: 4px;
        }
        .form-container {
            margin-top: 20px;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
        }
        .form-container input[type="text"],
        .form-container input[type="email"],
        .form-container textarea {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .form-container input[type="checkbox"] {
            margin-right: 5px;
        }
        .form-container input[type="submit"] {
            background-color: #009877;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
        }


    .wrapped_rating {
    background-color: white;
    }

    .wrapped_form {

    max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
    }

.star_label {
color:  #f9f9f9;
}
    .label_form {
    color: #636569;
    font-size: 16px;
    line-height: normal;
    }

    .rate_page {
    color: #636569;
    }

    .submit_rating {
    background: #009877;
    min-height: 52px;
    border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 152, 119, 0.24);}



      .options {
    display: inline-block;
    margin: 10px;
  }
  .radio-group {
    display: none;
  }
  .radio-options {
       display: flex;
    align-items: center;


  }

    .radio-options label {
    margin-left: 8px; /* Adjust this value to control the spacing */
  }


  label {
    cursor: pointer;
  }
  .emoji {
    font-size: 24px;
    color: #009877;
  }