footer {
	background-color: $dark-color;
	.footer-content {
		padding: 50px 0 0px;
		@media (max-width: 991px){
			padding: 40px 0 0px;
		}
		.sct-top-row {
			padding-bottom:20px;
			.sct-right-side {
				text-align: center;
				.sct-footer-logo{
					max-width: 150px;
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 20px;
				}
				.sct-links {
					margin-bottom: 15px;
					ul {
						li {
							display: inline-block;
							padding: 10px;
							@media (max-width: 991px){
								padding: 5px;
							}
							a {
								color: $light-grey-color;
								&:hover{
									color:$theme;
								}
							}
						}
					}
				}
				.sct-social-pty {
					a {
						margin-top: 0;
						margin-bottom: 5px;
					}
				}
				.sct-payment-icons {
					margin-top: 20px;
				}
			}
			.sct-left-side {
				@media (max-width: 767px){
					margin-top: 30px;
					text-align: center;
				}
				h4 {
					color: $light-grey-color;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				.sct-fot-address {
					color: $light-grey-color;
					font-size: $font-body;
				}
				.sct-fot-contact {
					margin-top: 20px;
					ul {
						li {
							color: $light-grey-color;
							font-size: $font-body;
							+ li {
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
	}
}
.sct-bottom-row {
	// border-top: 1px solid $light-grey-color;
	padding-top: 20px;
	margin-top: 20px;
	p {
		margin-bottom: 0;
		color: $light-grey-color;
	}
}
.o_footer_copyright {
	.sct-fot-belt{
		padding: 20px 0px 30px;
		@media (max-width:991px){
			padding:20px 0px;
		}
	}
	.sct-copyright-text{
	    .o_footer_copyright_name{
			color: $light-grey-color;
			font-size:$font-body;
		}  
	 @media (max-width:991px){
		@include all-flex;
	 }
     >span{
			font-size:$font-body;
			@include order-2;
			margin-top:15px;
		}
	   .js_language_selector{
			>.list-inline{
				 > a{
					    color: $light-grey-color;
					 	font-size:$font-base-label;
				 }
			}
			>.btn{
				color: $light-grey-color;
			}
	     }
	}
}
