footer {
background-color: $dark-color;
.footer-content {
		padding: 50px 0px 0px;
		@media (max-width: 767px){
			padding: 30px 0px 0px;
		}
		.sct-top-row {
			padding-bottom: 25px;
			.sct-foot-logo {
				max-width: 150px;
				margin-bottom: 30px;
			}
			.sct-fot-address {
				ul {
					li {
						position: relative;
						padding-left: 30px;
						color: $light-grey-color;
						font-size: $font-body;
						.fa {
							position: absolute;
							left: 0;
							top: 2px;
							font-size: 16PX;
							color: $light-grey-color;
						}
						+ li {
							margin-top: 20px;
						}
					}
				}
			}
			.sct-fot-about {
				margin-bottom: 30px;
				@media (max-width: 767px){
					margin-top: 20px;
				}
				p {
					margin-bottom: 0;
					color: $light-grey-color;
				}
			}
			.sct-links {
				@media (max-width: 575px){
					margin-bottom: 25px;
				}
				h4 {
					color: $light-grey-color;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				ul {
					li {
						font-size: $font-body;
						a {
							color: $light-grey-color;
							&:hover {
								color:$theme;
							}
						}
						+ li {
							margin-top: 15px;
						}
					}
				}
			}
			.sct-scocial-icon-footer {
				margin-top: 30px;
				a {
					margin-top: 0;
					margin-bottom: 5px;
				}
			}
		}
		.sct-bottom-row {
			padding-top: 25px;
			margin-top: 25px;
			@media (max-width: 575px){
				margin-top: 0;
			}	
		}
}
.o_footer_copyright{	
		.sct-fot-belt{
			padding:25px 0px 30px;
			@media (max-width:991px){
		      @include all-flex;
			}
		  .sct-copyright-text{
				font-size:$font-size-base;
				@media (max-width:991px){
					@include order-1;
					width: 100%;
				    text-align:center !important;
					@include all-flex; 
				    margin-top: 15px;
			   }  
	            @media (max-width:767px){
					font-size:$font-base-label;
				}
				@media (max-width:576px){
					text-align:center !important;
				}
				.o_footer_copyright_name{
					color: $light-grey-color;
					font-size: $font-body;
					@media (max-width: 767px){
						text-align: center;
						@include order-1;
						margin-top:10px;
					}
				}
				.js_language_selector{  
					@media (max-width:767px){
									display: flex;
					    			justify-content: center;	
						}
						>.list-inline{
							 	> a{
							 		color:$light-color;
							 		font-size:$font-base-label;
							 	}
						} 
				  }
				  .js_language_selector > .btn-outline-secondary {
					color:$light-color;
				}  
			}
	    .sct-payment-icons{
		     span{
				display: inline-block;
			    vertical-align: top;
			    width: 40px;
			    margin-right: 5px;
			    &:last-child{
			    	margin-right:0px;
			    }
			 }
		 }

		}
	}
}
   	

		