footer{
	background: #f1f1f1;
}
.footer-content {
	padding-top: 85px;
	@media (max-width: 1600px){
		padding-top: 65px;
	}
	@media (max-width: 1366px){
		padding-top: 50px;
	}
	@media (max-width: 767px){
		padding-top: 35px;
	}
	.col-lg-3 {
		padding-bottom: 85px;
		@media (max-width: 1600px){
			padding-bottom: 65px;
		}
		@media (max-width: 1366px){
			padding-bottom: 50px;
		}
		@media (max-width: 767px){
			padding-bottom: 35px;
		}
		ul {
			li {
				margin-top: 20px;
				display: block;
				a {
					display: inline-block;
					font-weight: 600;
				}
			}
		}
	}
}
.sct-fot-belt {
	padding: 25px 0;
	@media (max-width: 767px){
		padding: 15px 0;
	}
	.sct-copyright-text{
	  font-size:$font-body;
     @media (max-width:991px){
    	@include all-flex; 
     }
	 span{
           color:$dark-color; 
		   @include order-2;
		   padding:5px 0px;
	   }
	   	.js_language_selector{
				>.list-inline{
				 	> a{
				 		color:$dark-color;
				 		font-size:$font-base-label;
				 	}
				 }
			}
	}
	.js_language_selector > .btn-outline-secondary:hover span {
		color:$light-color;
	}
	.js_language_selector > .btn-outline-secondary:hover:after {
		color:$light-color;
	}

}
.sct-fot-address {
	li{
		position: relative;
		font-weight: 600;
		font-size: $font-body;
		
		padding-left: 30px;
		.fa {
			position: absolute;
			left: 0;
			top: 2px;
			color: #ababab;
			font-size: 20px;
		}
	}
}
.sct-fot-social {
	.sct-payment-icons {
		margin-bottom: 25px;
		h4{
			margin-bottom: 20px;
		}
	}
	.sct-scocial-icon-footer {
		h4{
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
}
.o_footer_copyright{
	background:#fff;
}

